.listing {
    width: 300px;
    background-color: ivory;
    border: 1px solid khaki;
    padding: 5px;
}

.listing__make, .listing__model {
    font-size: 18px;
    color: slategray;
}


.listing__price {
    font-size: 16px;
    color: yellowgreen;
}

.listing__img {
    width: 150px;
    height: 100px;
}

.listing__spec {
    font-size: 12px;
    color: black;
}

.listing__mileage {
    color: crimson;
}

.listing__engine-size {
    color: darkolivegreen;
}